.input {
  width: 100%;
  background-color: var(--body-background);
  padding: 0 clamp(12px, 0.83vw, 24px);
  height: clamp(42px, 2.917vw, 72px);
  color: #808080;
  display: flex;
  border-radius: 5px;
  align-items: center;
  border: none;
  background-image: var(--primary-dashed-border);
  border-radius: 5px;
}

.input:disabled {
  opacity: 0.8;
}

.input:focus {
  color: #808080;
  outline: none;
  background-color: #f1f8ff;
  /* background-color: rgba(var(--rgb-primary-color), 0.04) !important; */
  border: none;
  border-radius: 5px;
  box-shadow: none;
}

.input:hover {
  color: #808080;
  border: none;
}

.input::placeholder {
  color: #808080;
  opacity: 1;
}

.input.error {
  background-image: var(--error-dashed-border);
  color: var(--error-color);
}

.input.error::placeholder {
  color: var(--error-color);
}

.input.error:focus {
  background-color: rgba(var(--rgb-error-color), 0.04) !important;
}

.input:read-only {
  pointer-events: none;
  background-color: var(--body-background) !important;
}

.errorMessage {
  color: var(--error-color);
  margin-top: 2px;
  font-size: 12px;
}
