.root-picker {
  --rdp-accent-color: var(--primary-color);

  background-color: var(--body-background);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%230b5bb2ff' stroke-width='2' stroke-dasharray='4%2c 6' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  background-position: 0px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.current-month {
  color: var(--primary-color);
}

.today {
  background-image: var(--primary-dashed-border);
  background-position: 0px;
  border-radius: 5px;
}

.selected {
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white !important;
}
