.mobile-nav__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translateX(-100%);
  transform-origin: left center;
  transition:
    transform 500ms ease 500ms,
    opacity 500ms ease 500ms,
    visibility 500ms ease 500ms;
  visibility: hidden;
  position: fixed;
}
.mobile-nav__wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.mobile-nav__wrapper.expanded {
  opacity: 1;
  transform: translateX(0%);
  visibility: visible;
  transition:
    transform 500ms ease 0ms,
    visibility 500ms ease 0ms;
}
.mobile-nav__wrapper.expanded .mobile-nav__content {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition:
    opacity 500ms ease 300ms,
    visibility 500ms ease 300ms,
    transform 500ms ease 300ms;
}
.mobile-nav__wrapper .mobile-nav__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #43273a;
  opacity: 0.3;
  transition:
    opacity 500ms ease 300ms,
    visibility 500ms ease 300ms,
    transform 500ms ease 300ms;
}
.mobile-nav__wrapper .mobile-nav__content {
  width: 300px;
  background-color: var(--alt-bg-color);
  z-index: 10;
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition:
    opacity 500ms ease 0ms,
    visibility 500ms ease 0ms,
    transform 500ms ease 0ms;
}
.mobile-nav__wrapper .mobile-nav__content .main-menu__nav {
  display: block;
  padding: 0;
}
.mobile-nav__wrapper .mobile-nav__content .logo-box {
  margin-bottom: 40px;
  display: flex;
}
.mobile-nav__wrapper .mobile-nav__content .main-menu__list,
.mobile-nav__wrapper .mobile-nav__content .main-menu__list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mobile-nav__wrapper .mobile-nav__content .main-menu__list ul {
  display: none;
  border-top: 1px solid RGBA(255, 255, 255, 0.1);
}
.mobile-nav__wrapper .mobile-nav__content .main-menu__list ul li > a {
  padding-left: 1em;
}
.mobile-nav__wrapper
  .mobile-nav__content
  .main-menu__list
  ul
  li:not(:last-child) {
  border-bottom: 1px solid RGBA(255, 255, 255, 0.1);
}
.mobile-nav__wrapper .mobile-nav__content .main-menu__list li:not(:last-child) {
  border-bottom: 1px solid RGBA(255, 255, 255, 0.1);
}
.mobile-nav__wrapper .mobile-nav__content .main-menu__list li a {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  color: #43273a;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  height: 46px;
  letter-spacing: 0.48px;
  align-items: center;
  transition: 500ms;
}
.mobile-nav__wrapper .mobile-nav__content .main-menu__list li a.expanded {
  color: var(--primary-color);
}
.open-submenu-button {
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  color: var(--body-background);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: rotate(-90deg);
  transition: transform 500ms ease;
  flex-shrink: 0;
}

.row-menu-item {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.root-menu-link {
  flex: 1;
  display: flex;
}

.open-submenu-button.expanded {
  transform: rotate(0deg);
}
.mobile-nav__wrapper .mobile-nav__close {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 18px;
  color: var(--body-background);
  cursor: pointer;
}

.mobile-nav__contact {
  margin-bottom: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mobile-nav__contact li {
  color: #43273a;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
}
.mobile-nav__contact li + li {
  margin-top: 15px;
}
.mobile-nav__contact li a {
  color: inherit;
  transition: 500ms;
}
.mobile-nav__contact li a:hover {
  color: var(--primary-color);
}

.mobile-nav__contact .footer-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  margin-right: 10px;
  color: var(--body-background);
}

.mobile-nav__container .main-menu__logo,
.mobile-nav__container .main-menu__right {
  display: none;
}

.mobile-nav__overlay {
  transition:
    opacity 500ms ease 300ms,
    visibility 500ms ease 300ms,
    transform 500ms ease 300ms;
}
