@import "modern-normalize/modern-normalize.css";
@import "bootstrap/dist/css/bootstrap-grid.min.css";
@import "bootstrap/dist/css/bootstrap-utilities.min.css";

:root {
  --heading-color: #43273a;
  --text-color: #808080;

  /* Hex Colors */
  --primary-color-green: #a2d122;
  --primary-color-beige: #fff6d2;
  --primary-light-blue: #bde1ff;
  --primary-color-blue: #0b5bb2;

  --additional-color-blue: #5ca4f2;
  --additional-color-pink: #ff92be;

  --error-color: #d32f2f;

  /* RGB Colors */
  --rgb-primary-color-green: 162, 209, 34;
  --rgb-primary-color-beige: 255, 246, 210;
  --rgb-primary-light-blue: 189, 225, 255;
  --rgb-primary-color-blue: 11, 91, 178;

  --rgb-additional-color-blue: 92, 164, 242;
  --rgb-additional-color-pink: 255, 146, 190;

  --rgb-error-color: 211, 47, 47;

  /* Selected Colors */
  --primary-color: var(--primary-color-blue);
  --rgb-primary-color: var(--rgb-primary-color-blue);

  /* Predefined Borders */
  --primary-dashed-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%230b5bb2ff' stroke-width='2' stroke-dasharray='4%2c 6' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  --error-dashed-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23d32f2fff' stroke-width='2' stroke-dasharray='4%2c 6' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

body {
  font-size: clamp(13px, 0.833vw, 22px);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
address,
p,
pre,
blockquote,
table,
hr {
  margin: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--heading-color);
  margin-bottom: 0;
}

h1,
.h1 {
  font-size: clamp(40px, 3.177vw, 122px);
  font-weight: 700;
  line-height: 140%; /* 73.2px */
  letter-spacing: -1.22px;
}
@media (max-width: 991px) {
  h1,
  .h1 {
    font-size: clamp(38px, 5.119vw, 48px);
  }
}
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: clamp(35px, 6.094vw, 45px);
  }
}
@media (max-width: 575px) {
  h1,
  .h1 {
    font-size: clamp(32px, 8.78vw, 40px);
  }
}

h2,
.h2 {
  font-size: clamp(32px, 2.552vw, 98px);
  font-weight: 700;
  line-height: 120%; /* 58.8px */
  letter-spacing: -0.49px;
}
@media (max-width: 991px) {
  h2,
  .h2 {
    font-size: clamp(30px, 4.048vw, 40px);
  }
}
@media (max-width: 767px) {
  h2,
  .h2 {
    font-size: clamp(28px, 4.844vw, 36px);
  }
}
@media (max-width: 575px) {
  h2,
  .h2 {
    font-size: clamp(24px, 6.829vw, 32px);
  }
}

h3,
.h3 {
  font-size: clamp(25.59px, 2.031vw, 78px);
  font-weight: 700;
  line-height: 120%; /* 46.8px */
  letter-spacing: -0.39px;
}
@media (max-width: 991px) {
  h3,
  .h3 {
    font-size: clamp(26px, 3.452vw, 34px);
  }
}
@media (max-width: 767px) {
  h3,
  .h3 {
    font-size: clamp(23px, 4.141vw, 30px);
  }
}
@media (max-width: 575px) {
  h3,
  .h3 {
    font-size: clamp(21px, 5.854vw, 28px);
  }
}

h4,
.h4 {
  font-size: clamp(20.34px, 1.615vw, 62px);
  font-weight: 700;
  line-height: 120%; /* 37.2px */
  letter-spacing: -0.62px;
}
@media (max-width: 991px) {
  h4,
  .h4 {
    font-size: clamp(23px, 2.976vw, 28px);
  }
}
@media (max-width: 767px) {
  h4,
  .h4 {
    font-size: clamp(21px, 3.594vw, 25px);
  }
}
@media (max-width: 575px) {
  h4,
  .h4 {
    font-size: clamp(19px, 5.244vw, 23px);
  }
}

h5,
.h5 {
  font-size: clamp(16.4px, 1.302vw, 50px);
  font-weight: 700;
  line-height: 130%; /* 32.5px */
  letter-spacing: -0.5px;
}
@media (max-width: 991px) {
  h5,
  .h5 {
    font-size: clamp(20px, 2.619vw, 23px);
  }
}
@media (max-width: 767px) {
  h5,
  .h5 {
    font-size: clamp(19px, 3.047vw, 21px);
  }
}
@media (max-width: 575px) {
  h5,
  .h5 {
    font-size: clamp(18px, 4.634vw, 20px);
  }
}

h6,
.h6 {
  font-size: clamp(14.5px, 1.042vw, 40px);
  font-weight: 600;
  line-height: 140%; /* 24px */
  letter-spacing: -0.4px;
}
@media (max-width: 991px) {
  h6,
  .h6 {
    font-size: clamp(15px, 2.107vw, 21px);
  }
}
@media (max-width: 767px) {
  h6,
  .h6 {
    font-size: clamp(15.5px, 2.656vw, 19px);
  }
}
@media (max-width: 575px) {
  h6,
  .h6 {
    font-size: clamp(14.45px, 4.146vw, 18px);
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.py-80 {
  padding-block: 80px;
}
