.category-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: clamp(12px, 0.83vw, 24px);
  border-radius: 10px;
}
.category-card img {
  width: clamp(120px, 9.375vw, 240px);
}
.category-card .link-btn {
  display: block;
}
.category-card.bg-gradient-1 {
  background: linear-gradient(
    110deg,
    var(--primary-color-green) -9.36%,
    var(--primary-color-beige) 103.16%
  );
}
.category-card.bg-gradient-2 {
  background: linear-gradient(
    104deg,
    var(--additional-color-blue) 0%,
    var(--primary-color-beige) 100%
  );
}
.category-card.bg-gradient-3 {
  background: linear-gradient(
    104deg,
    var(--additional-color-pink) 0%,
    var(--primary-color-beige) 100%
  );
}
.category-card.bg-gradient-4 {
  background: linear-gradient(
    104deg,
    var(--primary-color-beige) 0%,
    #f9dc68 100%
  );
}

.category-card.bg-gradient-5 {
  background: linear-gradient(
    104deg,
    var(--primary-light-blue) 0%,
    var(--primary-color-beige) 100%
  );
}

.category-card.bg-gradient-6 {
  background: linear-gradient(
    104deg,
    var(--primary-color-blue) 0%,
    var(--primary-color-beige) 100%
  );
  color: var(--primary-light-blue);
}

.title {
  display: block;
  margin-bottom: 24px;
}

.category-card.bg-gradient-6 .title {
  color: var(--primary-color-beige);
}
