.pagination {
  display: flex;
  align-items: center;
  gap: clamp(16px, 1.25vw, 32px);
  justify-content: center;
  list-style: none !important;
  padding-left: 0px;
  width: 100%;
  overflow-y: auto;
  margin: auto;
  margin-top: clamp(24px, 3.33vw, 84px);
  margin-bottom: 0;
  padding: 10px;

  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) #f1f1f1;
}

.pagination::-webkit-scrollbar {
  width: 8px;
}

.pagination::-webkit-scrollbar-track {
  background: #f1f1f1;
  background: var(--primary-color);
}

.pagination::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}

@media (max-width: 575px) {
  .pagination {
    gap: 12px;
  }
}

.pagination-item a {
  width: clamp(30px, 3vw, 84px);
  height: clamp(30px, 3vw, 84px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbfdff;
  border: none;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%230b5bb2ff' stroke-width='2' stroke-dasharray='4%2c 6' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 5px;
  color: var(--primary-color) !important;
  transition: all 0.5s ease-in;
  padding: 0;
}

.break-link-item {
  width: clamp(40px, 3vw, 84px);
  height: clamp(40px, 3vw, 84px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbfdff;
  border: none;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%230b5bb2ff' stroke-width='2' stroke-dasharray='4%2c 6' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 5px;
  color: var(--primary-color) !important;
  transition: all 0.5s ease-in;
  padding: 0;
  font-size: 25px;
  cursor: not-allowed;
}

@media (max-width: 400px) {
  .pagination-item a {
    width: 36px;
    height: 36px;
  }
}

.pagination-item a svg {
  transition: all 0.5s ease-in;
  width: clamp(24px, 1.22vw, 35px);
  height: clamp(24px, 1.22vw, 35px);
}

.pagination-item a svg {
  fill: var(--primary-color);
  transition: all 0.5s ease-in;
}

.pagination-item a:hover,
.active a {
  transition: all 0.5s ease-in;
  color: var(--body-background) !important;
  background-color: var(--primary-color);
}

.arrow:hover svg {
  fill: var(--body-background);
  transition: all 0.5s ease-in;
}

.disabled a {
  pointer-events: none;
  opacity: 0.4;
  color: var(--primary-color) !important;
  cursor: not-allowed;
}

.disabled a svg {
  fill: var(--primary-color) !important;
}
