.root {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 400px) {
  .actions button,
  .actions a {
    width: 100%;
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  position: relative;
  width: 320px;
  color: var(--primary-color);
}

@media (max-width: 380px) {
  .imageContainer {
    width: 100%;
  }
}
