.content {
  width: 900px;
  max-width: 95%;
}

.containerImage {
  position: sticky;
  top: 10px;
  aspect-ratio: 1/1;
}

.containerImage img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}
