.hero-banner {
  position: relative;
}

.title {
  /*font-size: 40px;*/
  font-size: clamp(25px, 4.5vw, 45px);
  text-shadow: 1px 1px 18px rgba(0, 0, 0, 0.45);
  color: white;
}
.hero-banner .content {
  position: relative;
  z-index: 2;
  color: white;
}

.hero-banner .content .text-block {
  position: relative;
  padding: 9.021vw 0 12.937vw;
}
@media (max-width: 1199px) {
  .hero-banner .content .text-block {
    padding: 150px 0;
  }
}
@media (max-width: 767px) {
  .hero-banner .content .text-block {
    padding: 100px 0 100px;
  }
}
/*@media (max-width: 575px) {
  .hero-banner .content .text-block .title br {
    display: none;
  }
}*/
.hero-banner .content .text-block p {
  margin-left: auto;
  margin-top: -3.438vw;
  width: 21.563vw;
}
@media (max-width: 1199px) {
  .hero-banner .content .text-block p {
    width: 60%;
    margin-top: 20px;
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  .hero-banner .content .text-block p {
    width: 100%;
    margin-top: 16px;
  }
}
.hero-banner .content .text-block .btn-block {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 2.1vw;
  gap: clamp(12px, 0.83vw, 24px);
}
@media (max-width: 1199px) {
  .hero-banner .content .text-block .btn-block {
    margin-top: 24px;
  }
}
.hero-banner .content .img-block {
  position: relative;
  height: 100%;
}

.hero-image {
  object-fit: cover;
  background-repeat: no-repeat;
  z-index: 0;
  object-position: right 35%;
}

@media (max-width: 767px) {
  .hero-image {
    object-position: center right;
  }
}
